form{
    color:white;
    display:flex;
    flex-direction: column;
    }

h2{
    font-size: 24px;
}

button{
    width:60px;
}

.NotePageNav__back-button{
    float:left;
}

.error{
    color:red;
    font-size:12px;
    margin-left:11em;
    margin-top:-.10em;
}

input{
    width:10em;
    margin-left:.5em;
}